# Bot
BOT_TOKEN=
GUILD_ID=

# Banco de dados
DATABASE_URL=

# IA
GROQ_API_KEY=

# Canais — crie os canais no seu servidor e cole os IDs aqui

# Cargos — crie os cargos no seu servidor e cole os IDs aqui